.add-option-error {
  color: $light-purple;
  font-style: italic;
  padding: 0 2rem;
  margin: 2rem 0 0 0;
  font-size: 2rem;
}

.add-option {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  input {
    flex-grow: 1;
    background: $dark-blue;
    border: none;
    border-bottom: 0.3rem solid darken($dark-blue, 10%);
    margin-right: 1.5rem;
    color: $light-purple;
    padding: 1.5rem;
    font-size: 2rem;
  }
}

@media (max-width: 45rem) {
  .add-option {
    display: flex;
    flex-direction: column;
    input {
      margin: 0 0 1rem 0;
    }
  }
}
