.header {
  background: $off-black;
  margin-bottom: 4.8rem;
  padding: 1.6rem 0;
  color: White;
}

//BEM Block Element Modifier
.header__title {
  font-size: 3.2rem;
  margin: 0;
}
.header__subtitle {
  font-size: 1.6rem;
  color: $light-purple;
  font-weight: 500;
  margin: 0;
}

@media (max-width: 45rem) {
  .header {
    margin-bottom: 3rem;
  }
}
