// .ReactModalPortal > div {
//   opacity: 0;
// }
.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  //transition: opacity 200ms ease-in-out;
}
//
// .ReactModal__Overlay .ReactModal__Overlay--after-open {
//   opacity: 1;
// }
// .ReactModal__Overlay .ReactModal__Overlay--before-close {
//   opacity: 0;
// }

.customModal {
  background: $light-blue;
  color: white;
  max-width: 30rem;
  outline: none;
  padding: 3rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  word-break: break-all;
  h3 {
    margin: 0 0 3rem 0;
    font-weight: 500;
  }
}
