html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Ariel, sans-serif;
  background-color: $dark-blue;
}

h1 {
  font-size: 2.9rem;
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: default;
}
