//Colors

$off-black: #20222b;
$light-purple: #a5afd7;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$medium-size-font: 1.6rem; //I am not using this- personally I believe that this adds an uneeded level of confusion, though it's good to know about.
$large-font-size: 4.8rem;
$purple: #8357c5;
